.carCard {
   display: grid;
   grid-template-columns: 33% 33% 33%;
   grid-template-rows: 15% 55% 15% 15%;
   width: 25vw;
   height: 52vh;
   border: 5px solid black ;
   color: black;
   background-color: white;
   border-radius: 20px;
   font-weight: bold;
   min-width: 300px;
   min-height: 350px;
   margin: 1vw;
}

.carCard:hover{
    transform: scale(1.1);
}

.carCard a {
    font-size: 20px;
}

.carCard span{
    display: flex;
    flex-direction: column-reverse;
    font-size: 12px;
}

.name {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    align-self: center;
}
.photo {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
    border-top: 2px solid black;
    width: 100%;
    height: 100%;
}
.company {
    grid-column-start: 1;
    grid-row: 3;
}
.year {
    grid-column-start: 2;
    grid-row: 3;
    border-left: 2px solid black;
}
.num {
    grid-column-start: 3;
    grid-row: 3;
    border-left: 2px solid black;
}
.place {
    grid-column-start: 1;
    grid-row: 4;border-top: 2px solid black;
}
.dayPrice {
    grid-column-start: 2;
    grid-row: 4;border-top: 2px solid black;
    border-left: 2px solid black;
}
.gear {
    grid-column-start: 3;
    grid-row: 4;
    border-top: 2px solid black;
    border-left: 2px solid black;
}

.btn-order{
    background-color: white;
    border: 2px solid black;
    padding: 0px;
    height: 100vh;
    width: 100%vw;
}
