.a{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.filter-a{
    display: flex;
    flex-direction: row;
}

input {
    width: 10vw;
    text-align: center;
    margin: 5px;
}

label {
    margin: 5px;
}