.App-header{
    background-color: blue;
    height: 10vh;
    display: block;
    flex-direction: row;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  background-color:blue;
  display: flex;
  justify-content: space-between;
  border: 8px solid white;
  border-style:double;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rightSide {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftSide {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App-Logo {
    height: 20vmin;
    justify-content: left;
}

.link{
  text-decoration-line: none;
  text-align: 'center';
  color: 'white';
  font-weight: bold;
}

.logout:hover{
  color: red;
}

.link:hover{
  opacity:initial;
  transform: scale(1.2);
}
/* @media (prefers-reduced-motion: no-preference) {
.App-logo {
  animation: App-logo-spin infinite 5s linear;
  animation: App-logo-spin-2 infinite 5s linear;
    }
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }

   */